/*
* Main stuff & utilities
*/
html {
    font-size: 62.5%;
}
body {
    font-family: "Work Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}
h4 {
    margin-bottom: 0.5rem;
}
.col-center {
    margin: 0 auto;
    float: none;
}
.m-0 {
    margin: 0;
}
.m-b-1 {
    margin-bottom: 1rem;
}
.m-b-2 {
    margin-bottom: 2rem;
}
.m-b-3 {
    margin-bottom: 3rem;
}
.m-b-4 {
    margin-bottom: 4rem;
}
.m-t-0 {
    margin-top: 0;
}
.m-t-1 {
    margin-top: 1rem;
}
.m-t-2 {
    margin-top: 2rem;
}
.m-t-3 {
    margin-top: 3rem;
}
.m-t-4 {
    margin-top: 4rem;
}
.p-b-1 {
    padding-bottom: 1rem;
}
.p-b-2 {
    padding-bottom: 2rem;
}
.p-b-3 {
    padding-bottom: 3rem;
}
.p-b-4 {
    padding-bottom: 4rem;
}
.p-t-1 {
    padding-top: 1rem;
}
.p-t-2 {
    padding-top: 2rem;
}
.p-t-3 {
    padding-top: 3rem;
}
.p-t-4 {
    padding-top: 4rem;
}
.u-borderRight {
    border-right: 1px solid rgba(220,220,220,0.5);
}
.u-white {
    color: rgb(255,255,255);
}
.u-fullWidth {
    width: 100%;
}
.link {
    color: #333;
    transition: 0.2s;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}
.link:hover,
.link:active,
.link:focus {
    text-decoration: none;
    color: #1E5E99;
}
.link--inverse {
    color: rgb(255,255,255);
    transition: 0.2s;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}
.link--inverse:hover,
.link--inverse:active,
.link--inverse:focus {
    text-decoration: none;
    color: rgb(255, 220, 0);
}
.separator {
    border-top: 1px solid rgba(0,0,0,0.1);
    width: 200px;
    margin-top: 10px;
}
.separator--inverse {
    border-top: 1px solid rgba(255,255,255,0.2);
    width: 200px;
    margin-top: 10px;
}
.btn {
    border-radius: 2px;
}
.btn-primary:hover {
    border-color: #286090;
}
.lazy {
    opacity: 0;
    transition: opacity .3s ease-in;
}
.u-red {
    color: #EC3D2A;
}

/* Header */
.header,
.header--light {
    z-index: 1;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    background-image: -webkit-linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.4) 100%);
    background-image: linear-gradient(0deg, transparent 0, rgba(0, 0, 0, 0.4) 100%);
}
.header--light {
    background-image: none;
}
.navbarImg {
    height: 50px;
    width: 230px;
}
.mastheadLink {
    text-align: center;
    margin: 0 auto;
}
.mastheadLink:hover,
.mastheadLink:active,
.mastheadLink:focus  {
    text-decoration: none;
    opacity: 0.8;
}
.headerLinks {
    display: inline-block;
    font-size: 1.4rem;
}
.headerLinks--link {
    margin-left: 1rem;
    color: rgb(255,255,255);
}
.headerLinks--link:hover {
    opacity: 0.8;
    color: rgb(255,255,255);
    text-decoration: none;
}

/*
* Sections
*/
.intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: url(/img/cover.jpg) no-repeat bottom center scroll;
    background-position: bottom;
    background-size: cover;
    color: rgb(255,255,255);
}
.introHeadline {
    font-family:"HelveticaNeue-CondensedBold", "Roboto Condensed", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 700;
    font-size: 3rem;
    padding-top: 2rem;
    line-height: 0.9;
    text-shadow: 0px 2px 15px rgba(0,0,0,0.8);
}
.introCopy {
    font-size: 1.5rem;
    text-shadow: 0px 2px 15px rgba(0,0,0,0.8);
}
.introCredit {
    position: absolute;
    bottom: 0.5rem;
    right: 1rem;
}
.btn {
    transition: 0.2s
}
.btn:hover {
    transform: translateY(2px);
}
.summary {
    background: #ECE9E6; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.text {
    font-size: 2rem;
}
.summaryDesc {
    color: rgb(111, 124, 130);
    border-bottom: 1px solid rgba(220,220,220,0.5);
}
.summaryList {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.5rem;
}

/*
* Schedule
*/
.schedule {
    background: #5C258D; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left top, #5C258D , #4389A2); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left top, #5C258D , #4389A2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: rgb(255,255,255);
    display: block;
}
.scheduleDay {
    font-weight: 500;
    margin-top: 4rem;
    font-size: 1.8rem;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(220,220,220,0.2);
}
.scheduleLegend {
    display: inline-block;
    margin-right: 1rem;
    margin-bottom: 0;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}
.timeSlot {
    margin-bottom: 1rem;
}
.place {
    text-transform: uppercase;
    margin-bottom: 1rem;
    letter-spacing: 0.2rem;
}
.break {
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 2rem;
    margin-bottom: 2.5rem;
    border-top: 1px solid rgba(220,220,220,0.1);
    border-bottom: 1px solid rgba(220,220,220,0.1);
}
.circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: inline-block;
}
.talk {
    background: rgb(26, 41, 128);
}
.roundTable {
    background: rgb(255, 220, 0);
}
.workshop {
    background: rgb(236, 61, 42);
}
.barcamp {
    background: rgb(243, 161, 131)
}

/*
* Speakers
*/
.speakers {
    background: #7474BF; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #7474BF , #348AC7); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #7474BF , #348AC7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 8rem;
    color: rgb(255,255,255);
    display: block;
}
.flex-joinUs,
.flex-speakers {
    display: flex;
    flex-flow: row wrap;
    padding: 2rem 0 2rem 0;
    position: relative;
    justify-content: center;
}
.joinUs,
.speaker {
    padding: 1.5rem;
    flex-basis: 385px;
}
.speaker {
    text-align: center;
}
.speaker p {
    text-align: left;
}
.speakerImg {
    max-width: 100px;
    margin: 0 auto;
}
.speakerName {
    color: #1E5E99;
}
.org {
    background: #EC6F66; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #EC6F66 , #F3A183); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #EC6F66 , #F3A183); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.sponsorList {
    padding: 2rem;
}
.sponsor {
    padding: 2rem;
}
.sponsorLogo {
    max-height: 60px;
    margin: 0 auto;
}
.okfn {
    width: 300px;
}
.medialab {
    width: 100px;
}
.mapText {
    position: relative;
}
.footer {
    padding-top: 6rem;
}
.contact {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
}
.staticMap {
    position: absolute;
}

/*
* Tablet
*/
@media(min-width: 768px) {
    .rightSeparator {
        border-right: 1px solid rgba(220,220,220,0.1);
    }
    .mastheadLink {
        margin: 0;
    }
    .flex-joinUs {
        padding: 3rem 5rem 5rem 5rem;
    }
    .header,
    .header--light {
        flex-direction: row;
    }
    .headerLinks {
        padding-top: 0.4rem;
        margin-top: 1rem;
        font-size: 1.6rem;
    }
    .introHeadline {
        font-size: 6rem;
    }
    .introCopy {
        font-size: 2rem;
    }
}

/*
* Desktop
*/
@media(min-width: 992px) {
    .shareContainer {
        position: absolute;
        right: 4rem;
        margin-top: 1.7rem;
    }
    .shareButton:hover,
    .shareButton:active,
    .shareButton:focus  {
        color: rgb(255,255,255);
        opacity: 0.8;
    }
    .shareButton--facebook,
    .shareButton--email {
        margin-right: 0.5rem;
    }
    .joinUs,
    .speaker {
        padding: 2.5rem;
    }
}
